<div class="wrapper" style="display:block; margin:auto; width:40%;">
<%= link_to "home", root_path %></br>
--------------------------------------
<h1>NEW USER</h1>
  <p>Oops ! You made a mistake ! Try again</br>
    <form action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="text" name="user[username]" id="username" placeholder="username">
    <input type="text" name="user[bio]" id="bio" placeholder="bio">
    <input type="submit" value="Envoyer le formulaire" class="btn btn-success"> 

  </form>
</p>
