<h1>NEW USER</h1>
  <p>Here you can create a new user by entering your informations : </br>
    <form action="/users" method="post">
    <input type="text" name="user[username]" id="username" placeholder="username">
    <input type="text" name="user[bio]" id="bio" placeholder="bio">
    <input type="submit" value="Envoyer le formulaire"> 

  </form>
</p>
