<div class="wrapper" style="display:block; margin:auto; width:40%;">
<%= link_to "home", root_path %></br>
--------------------------------------
<H1>Welcome</H1>
<p>Hello <%= @user.username %></p>
<p>This is your biography : <%= @user.bio %></p>