<div class="wrapper" style="display:block; margin:auto; width:40%;">
<%= link_to "home", root_path %></br>
--------------------------------------
<h1>HOME</h1>
<p>Welcome on this super website of nothing. </br>
To create an user <%= link_to "click here", users_new_path %> .
</p>
